@charset "utf-8";

p {
  font: 12px/1 "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.mem {
  width: 100%;
  margin: 0 auto; 

}

.tsf p {
  line-height: 1.5;
  margin-bottom: 5px;
}

.tsf a img {
  height: 20px;
  margin-top: 10px;
}
.tsf p {
    font-weight: bold;
  }
.ex-mem p {
  line-height: 1.7;
}

/*PC*/
@media screen and (min-width:481px){

  .tsf {
    width: 33%;
    float: left;
  }
}

/*スマホ*/
@media screen and (max-width:480px){
  .tsf {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom:0.5px solid #e8e8e8;
    
  }
}


.tsf a:hover img.overwhite{
    cursor:pointer;
    filter: alpha(opacity=60);        /* ie lt 8 */
    -ms-filter: "alpha(opacity=60)";  /* ie 8 */
    -moz-opacity:0.6;                 /* FF lt 1.5, Netscape */
    -khtml-opacity: 0.6;              /* Safari 1.x */
    opacity:0.6;
    zoom:1;
}