#container {
    width:700px;
    margin-right: auto;
    margin-left : auto; 
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}
ul{
    list-style:none;
}
footer {
    margin-top: 10px;
}
footer p {
    text-align: center;
}
ul{
    list-style:none;
}
a {
    text-decoration: none;
    color: black;
}
/* コンテナ */
#container {
    display: grid;
    grid-template-rows: 50px 50px 500px 50px 100px 100px;
    grid-template-columns: 700px;
}

/* アイテム */
#title {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}
#menu {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#top_imige {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#prof {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}
#mem {
    grid-row: 5 / 6;
    grid-column: 1 / 2;

}
#ex-mem {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}

#mem ul li {
    display: inline-block;
    margin-right: 5px;
    font-family: serif;
}

.mem {
    float: left;
    margin-top: 5px;
    margin-right: 50px
        
}
#menu ul li {
    display: inline-block;
    margin-right: 10px;
    font-family: serif;
}
#menu ul {
     text-align: center;
     margin-top: 10px;
}
#title p {
    margin-top: 15px;
    text-align: center;    
}
footer {
    margin-top: 10px;
}
footer p {
    text-align: center;
}